<h1>Articles Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<% @articles.each do |article| %>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="/article/<%= article.id %>"> <%= HTMLEntities.new.decode article.title %> </a>
        </div>
        <div class="panel-footer">
            From <%= article.source %> on <%= article.date %> 
        </div>
    </div>
<% end %>
<div id="search">
    <% if @articles.any?  %>
        <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
    <% end %>
</div>
