<div class="col-sm-4">
   <div class="panel panel-default bootcards-media">
      <div class="panel-heading" style="min-height: 80px; max-height: 80px; overflow-y: scroll;">
        <h3 class="panel-title">
            <img id = "publication-logo" src="/images/<%= article.source_id %>.jpg">
                <small><%= HTMLEntities.new.decode article.date.to_formatted_s(:long) %></small>
                <a href="/article/<%= article.id %>"><%= HTMLEntities.new.decode article.title %></a>
        </h3>
      </div>
      <div class="panel-body" style="min-height: 100px; max-height: 100px; overflow-y: scroll;">
        <%= HTMLEntities.new.decode article.description %>
      </div>
      <div class="panel-body" style="text-align: center;">
        <% if article.photo_url.to_s == ''  %>
            <a href="/article/<%= article.id %>">
                <img src="/images/<%= article.source_id %>.jpg" class="img-responsive" style="min-height: 200px; max-height: 200px;"/>
        <% else %>
            <a href="/article/<%= article.id %>"><img src="<%=article.photo_url %>" class="img-responsive" style="min-height: 200px; max-height: 200px;"/>
        <% end %>
       </div>
    </div>
</div>

