 <div class="row">
<% @article.each do |art| %>
	<div class="col-sm-4">
	   <div class="panel panel-default bootcards-media">
  <div class="panel-heading" style="min-height: 80px; max-height: 80px;">
    <h3 class="panel-title"><a href="/article/<%= art.id %>"><%=art.title %></a></h3>
  </div>
  <div class="panel-body" style="min-height: 100px; max-height: 100px; overflow-y: scroll;">
    <%=art.description %>
  </div>
  <div class="panel-body" style="text-align: center;">
  <img src="<%=art.photo_url %>" class="img-responsive" style="min-height: 200px; max-height: 200px;"/>
  </div>
</div>
	</div>
<% end %>
</div>
<div class="pagination">
    <div class="page_info">
      <%= page_entries_info @article %>
    </div>
    <%= will_paginate @article, renderer: BootstrapPagination::Rails %>
</div>
