<h4> <a href=<%= @url[0] %>><%= @title[0] %></a></h4>
<h5>From: <b><%= @source[0] %></b>
<% if @authors[0] == '' -%>
<% else -%>
By: <b><%= @authors[0] %></b>
<% end -%>
 Published at: <b><%= @date[0].to_formatted_s(:long)  %></b>
</h5>
<div class="well">
<p><%= (h @content[0]).gsub("\n", "<br />").html_safe %></p>
</div>
