<!DOCTYPE html>
<html>
<head>
  <title>Vartaa</title>
  <%= javascript_include_tag 'application' %>
    <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Bootcards -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">

    <!-- Font Awesome -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
      <nav class="navbar navbar-inverse" role="navigation">
         <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Rails equivalent to -->
          <!-- <a href="/" class="navbar-brand">Vartaa</a> -->
          <%= link_to "Vartaa", root_path, class: "navbar-brand" %>
        </div>
        </nav>


<!-- Collect the nav links, forms, and other content for toggling -->
        <!-- <div class="nav navbar-nav" id="bs-example-navbar-collapse-1"> -->
          <!-- <ul class="nav navbar-nav"> -->
          <div class="nav nav-pills nav-justified" style="padding-bottom: 20px;">
            <li>
              <a href="/">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
          <!-- </ul> -->
          <!-- <ul class="nav navbar-nav"> -->
            <li>
              <a href="/">
                <i class="fa fa-users"></i>
                Politics
              </a>
            </li>
         <!--  </ul> -->
         <!--  <ul class="nav navbar-nav"> -->
            <li>
              <a href="/">
                <i class="fa fa-comments"></i>
                Blogs/Op-Eds
              </a>
            </li>
          <!-- </ul> -->
          <!-- <ul class="nav navbar-nav"> -->
            <li>
              <a href="/">
                <i class="fa fa-line-chart"></i>
                Business
              </a>
            </li>
          <!-- </ul> -->
          <!-- <ul class="nav navbar-nav"> -->
            <li>
              <a href="/">
                <i class="fa fa-futbol-o"></i>
                Sports
              </a>
            </li>
          <!-- </ul> -->
          <!-- <ul class="nav navbar-nav"> -->
            <li>
              <a href="/">
                <i class="fa fa-star"></i>
                Entertainment
              </a>
            </li>
        </div>



 </div>
 <div class="container">
      <%= yield %>
 </div>
 <footer class="footer">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <p class="text-muted navbar-header">  </p>
            </div>
        </nav>        
    </div>
 </footer>
</body>
</html>
