<!DOCTYPE html>
<html>
<head>
  <title>Vartaa</title>
  <%= javascript_include_tag 'application' %>
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Bootcards -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">

  <!-- Font Awesome -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

 <div class="container">
      <nav class="navbar " role="navigation">
         <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Rails equivalent to -->
         <a href="/" class="navbar-brand navbar-brand-centered"><img id = "logo" src="/images/Vartaa.jpg"></a>
        </div>
        </nav>

        <!-- Static Pages About Us and Contact Us -->
        <% if controller.controller_name == 'static_pages' -%>

        <% else %>
<!-- Collect the nav links, forms, and other content for toggling -->
        <!-- <div class="nav navbar-nav" id="bs-example-navbar-collapse-1"> -->
          <!-- <ul class="nav navbar-nav"> -->
          <div class="nav nav-pills nav-justified" style="padding-bottom: 20px;">
            <li role="presentation" <% if current_page?(root_path) -%> class="active" <% else %> <% end %>>
              <a href="/">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
          <!-- </ul> -->
          <!-- <ul class="nav navbar-nav"> -->
            <li role="presentation" <% if current_page?('/politics') -%> class="active" <% else %> <% end %>>
              <a href="/politics">
                <i class="fa fa-users"></i>
                Politics
              </a>
            </li>
         <!--  </ul> -->
         <!--  <ul class="nav navbar-nav"> -->
            <li role="presentation" <% if current_page?('/oped') -%> class="active" <% else %> <% end %>>
              <a href="/oped">
                <i class="fa fa-comments"></i>
                Blogs/Op-Eds
              </a>
            </li>
          <!-- </ul> -->
          <!-- <ul class="nav navbar-nav"> -->
            <li role="presentation" <% if current_page?('/business') -%> class="active" <% else %> <% end %>>
              <a href="/business">
                <i class="fa fa-line-chart"></i>
                Business
              </a>
            </li>
          <!-- </ul> -->
          <!-- <ul class="nav navbar-nav"> -->
            <li role="presentation" <% if current_page?('/sports') -%> class="active" <% else %> <% end %>>
              <a href="/sports">
                <i class="fa fa-futbol-o"></i>
                Sports
              </a>
            </li>
          <!-- </ul> -->
          <!-- <ul class="nav navbar-nav"> -->
            <li role="presentation" <% if current_page?('/ent') -%> class="active" <% else %> <% end %>>
              <a href="/ent">
                <i class="fa fa-star"></i>
                Entertainment
              </a>
            </li>   

        <% end %>

 <!-- Admin Menu -->
            <li role="presentation" 
            <% if current_user.try(:admin?) %>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle"role="button" aria-expanded="false">
                  <i class="fa fa-cog"></i>
                  Admin
                </a>
              </div>
            <% end %>

            <% if current_user %>
            <div class="dropdown">
            <button class="btn btn-link btn-group-justified dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <li><%= link_to current_user.try(:name), root_url %><span class="caret"></span></li>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "Logout", logout_url %></li>
            </ul>
            </div>
            </li>
            
            <% else %>
            <li role="presentation" 
            <div class="dropdown">
            <button class="btn btn-link btn-group-justified dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sign-In
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><%= link_to "Sign In", new_sessions_url %></li>
            <li><%= link_to "Sign Up", new_users_url %></li>
            </ul>
            </div>
            </li>
            <% end %>
        </div>
 </div>
 <div class="container">
      <%= yield %>
 </div>
 <div class="foot">
 <div class="container">
  <footer class="footer">&copy; Vartaa <a href='/'> | Home  </a> <a href='/static_pages/about'> | About Us </a>  <a href='/static_pages/contact'> | Contact Us </a>       
  </footer>
  </div>
</div>
</body>
</html>
